h2 {
  text-align: center;
  color: #BBBBBB;
  font-family: monospace;
  font-size: 40px;
  font-weight: 500;
}

nav {
  width: auto;
}

article {
  padding: 8px;
  width: auto;
  background-color: #f1f1f1;
  height: 300px;
}

li {
  border-right: 1px solid #000000;
}

a {
  display: block;
  text-align: center;
  color: #000000;
  padding: 8px;
  background-color: #dddddd;
  font-weight: 500;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

